@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:wght@400;700&display=swap');

:root {
    --color-white: hsl(0, 0%, 100%);
    --color-slate-300: hsl(212, 45%, 89%);
    --color-slate-500: hsl(216, 15%, 48%);
    --color-slate-900: hsl(218, 44%, 22%);
}

body {
    font-size: 15px;
    font-family: Poppins;
    background-color: var(--color-slate-300);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    background-color: var(--color-white);
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 15px;

    img {
    /* width: 50%; */
    /* margin: 10px; */
    border-radius: 15px;
    }

    h1 {
    color: var(--color-slate-900);
    font-weight: 700;
    text-align: center;
    }

    p {
    color: var(--color-slate-500);
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
    }
}

.attribution { font-size: 11px; text-align: center; position: fixed; bottom: 0}
.attribution a { color: hsl(228, 45%, 44%); }
