@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:wght@400;700&display=swap');

:root {
    --color-white: hsl(0, 0%, 100%);
    --color-slate-300: hsl(212, 45%, 89%);
    --color-slate-500: hsl(216, 15%, 48%);
    --color-slate-900: hsl(218, 44%, 22%);
    --color-link: hsl(228, 45%, 44%);
}

html {
    font-size: clamp(0.5rem, 2vw, 2rem);
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
    line-height: 1;
}

body {
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-slate-300);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    background-color: var(--color-white);
    width: 20rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 15px;

    img {
        border-radius: 15px;
    }

    h1 {
        color: var(--color-slate-900);
        font-weight: 700;
        text-align: center;
        font-size: 1.3rem;
        margin: 2rem auto 0;
        line-height: 1.4;
    }

    p {
        color: var(--color-slate-500);
        font-weight: 400;
        font-size: 0.9rem;
        text-align: center;
        margin: 1rem auto 2rem;
        line-height: 1.4;
    }
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-block-start: 1rem;
}

.attribution a { 
    color: var(--color-link); 
}
